{{define "empty"}}

    <head>
        <meta charset="UTF-8">
        <title>添加网络</title>
        <link rel="stylesheet" href="../../../static/layui/css/layui.css"  media="all">
        <script type="text/javascript" src="../../../static/layui/layui.js"></script>
<!--        <script type="text/javascript" src="../../../static/js/notebook_add.js"></script>-->
    </head>
    <style>
        body{margin: 10px;}
        .demo-carousel{height: 200px; line-height: 200px; text-align: center;}
    </style>
    <body>
    <div>
        <form class="layui-form" action="" lay-filter="add-blockchain">
            <div class="layui-form-item">
                <label class="layui-form-label">区块链系统名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="Name" lay-verify="pass" placeholder="示例：network1" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">OrdererOrg(可不填)</label>
                <div class="layui-input-block">
                    <textarea name="OrdererOrg" placeholder='示例：{"Name":"Orderer", "Domain": "Testing.com", "MSPID":"OrdererMSP","Orderer": {"Name": "Orderer","Port": "5050"}}' class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">PeerOrg(可不填)</label>
                <div class="layui-input-block">
                    <textarea name="PeerOrg" placeholder='示例：[{"Name":"org1","Domain": "Testing.com","MSPID": "Org1MSP","Peers": [{"Name": "peer0","Port": "5051"},{"Name": "peer1","Port": "6051"}]}]' class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">网络名称</label>
                <div class="layui-input-inline">
                    <select name="network-name" id="network-name" lay-filter="network-name">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </form>
        <div style="text-align: center;">
            <button id="add-blockchain-sure-btn" type="button" class="layui-btn layui-btn-normal" style="margin-left:0px;margin-top:20px" >确定</button>
            <button id="add-blockchain-cancel-btn" type="button" class="layui-btn layui-btn-normal" style="margin-left:20px;margin-top:20px" >取消</button>
        </div>
    </div>
    <script src="../../static/js/popjs/addBlockchain.js?v=$version"></script>


    </body>
{{end}}