{{define "empty"}}

<head>
    <meta charset="UTF-8">
    <title>调用合约</title>
    <link rel="stylesheet" href="../../../static/layui/css/layui.css"  media="all">
    <script type="text/javascript" src="../../../static/layui/layui.js"></script>
    <!--        <script type="text/javascript" src="../../../static/js/notebook_add.js"></script>-->
</head>
<style>
    body{margin: 10px;}
    .demo-carousel{height: 200px; line-height: 200px; text-align: center;}
</style>
<body>
<div>
    <form class="layui-form" lay-filter="invoke-contract" id="invoke-form">
        <div class="layui-form-item" id="invoke">
            <label class="layui-form-label">InvokeType</label>
            <div class="layui-input-inline">
                <select name="invoke-type" id="invoke-type" lay-filter="invoke-type">
                    <option value=""></option>
                    <option value=0>Query</option>
                    <option value=1>Invoke</option>
                </select>
            </div>
        </div>
    </form>
    <div style="text-align: center;">
        <button id="invoke-contract-sure-btn" type="button" class="layui-btn layui-btn-normal" style="margin-left:0px;margin-top:20px" >确定</button>
        <button id="invoke-contract-cancel-btn" type="button" class="layui-btn layui-btn-normal" style="margin-left:20px;margin-top:20px" >取消</button>
    </div>
</div>
<script src="../../static/js/popjs/invokeContract.js?v=$version"></script>


</body>
{{end}}